<h2>Blog Spot</h2>
<secion id="new-post">
    <h3>New Post</h3>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content.length}}</p>
        <p class="card-text">{{user.username}}</p>
    </div>
</secion>
{{#each this}}
    <form action="/post" method="POST">
        <input type="text" name="title" placeholder="Title">
        <textarea name="body" placeholder="Body"></textarea>
        <input type="submit" value="Post">
    </form>

<div class="view">
    {{#each this}}
    <section class="meta">
        <div class="view">
            <h5 class="view">{{title}}</h5>
            <p class="view">{{content.length}}</p>
            <p class="view"><small class="text-muted">{{user.username}}</small></p>
        </div>
    </section>
    {{/each}}
</div>