<article>
    <h3>
        Make corrections to your post
    </h3>
    <form action="/editPost" method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{title}}">
        <label for="content">Content</label>
        <div><h3>Posted by you on {{date_created}}</h3></div>
        <textarea name="content" id="content" cols="30" rows="10">{{post.content.length}}</textarea>
        <div>
            <label for "content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10">{{post.content}}</textarea>
        </div>
        <input type="submit" value="Edit Post">
        <input type="button" class="delete-post-btn" value="Delete Post">
    </form> 
<script src="/public/js/editPost.js"></script>        