


{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{user.username}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}

{{#if posts.length}}

<section>
    <h2>Posts</h2>
    {{#each posts as |post|}}
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>By {{post.user.username}}</p>
    <p>Created on {{post.date_created}}</p>
    <hr>
    {{/each}}
    <hr>
    <h2>Comments</h2>
    {{#each comments as |comment|}}
    <p>{{content.body}}</p>
    <p>By {{user.username}}</p>
    <p>Created on {{comment.date_created}}</p>
    <hr>
    {{/each}}
    <hr>
</section>

    {{else}}
    <section>
    <p>No posts yet</p>
    </section>
    {{/if}}
{{!-- <button type="submit"><a href="/public/js/profile.js"></a></button> --}}


{{!-- <!-- Loop over each post -->
{{#each posts as |post_content|}}
    <!-- Display the post -->
    <h1>{{title}}</h1>
    <p>{{body}}</p>
    <p>By {{user.username}}</p>
    <p>Created on {{date}}</p>
    <hr>

    <!-- Display the post_content -->
    {{!-- {{#each post.id as |post.post_content|}}
        <p>{{post_content}}</p>
    {{/each}} --}}

    <!-- Display the comment form -->
    {{!-- <form action="/comment" method="POST">
        <input type="text" name="comment">
        <input type="hidden" name="post_id" value="{{id}}">
        <input type="submit" value="Comment">
    </form>

    <!-- Display the edit form -->
    <form action="/edit" method="POST">
        <input type="text" name="title" value="{{title}}">
        <input type="text" name="body" value="{{body}}">
        <input type="hidden" name="post_id" value="{{id}}">
        <input type="submit" value="Edit">
    </form>

    <!-- Display the delete form -->
    <form action="/delete" method="POST">
        <input type="hidden" name="post_id" value="{{id}}">
        <input type="submit" value="Delete">
    </form>

    <hr> --}}

    
{{!-- {{/each}} --}} --

```